<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - China Cloud Migration & Expansion</title>
    @Styles.Render("~/Content/css") @Styles.Render("~/Content/main.css") @Styles.Render("~/Content/perfect-scrollbar.css") @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("China Cloud Migration & Expansion (Preview)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="img-home">@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (!Request.IsAuthenticated)
                    {
                        <li class="img-signin">@Html.ActionLink("SignIn", "SignIn", "Home", new { redirectUrl = Request.Url.PathAndQuery }, null)</li>
                        <li class="img-feedback"><a href="https://github.com/Azure/ccme/issues">Feedback</a></li>
                    }
                    else
                    {

                        <li class="img-signin">@Html.ActionLink("Sign out", "SignOut", "Home")</li>
                        <li class="img-feedback"><a href="https://github.com/Azure/ccme/issues">Feedback</a></li>
                        <li class="img-user">
                            <span class="about-me">
                                @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="left-bar">
            <div> @Html.ActionLink("Assessment with Subscription", "ListSubscription", "Assessment", new { area = "" }, new { @class = "nav-l show-load" })</div>
            @if (ViewBag.CloudEnvironment != "AzureChinaCloud")
            {
                <div> @Html.ActionLink("Assessment with Usage Report", "Index", "AssessmentWithUsageReport", new { area = "" }, new { @class = "nav-l" }) </div>
            }
            <div> @Html.ActionLink("Migration Playbook", "Index", "Migration", new { area = "" }, new { @class = "nav-l line-one" }) </div>
        </div>
        <div class="content">
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="loading">
        <div class="loading-color">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $(".show-load").on("click", function () {
                $(".loading").show();
            });
            $(".btn-sign").on("click", function () {
                $(".loading").show();
            });

            var url = window.location.pathname;
            var activePage = url.substring(url.lastIndexOf('/') + 1);
            $('.nav-l').each(function () {
                var currentPage = this.href.substring(this.href.lastIndexOf('/') + 1);

                if (activePage == currentPage) {
                    $(this).addClass('active');
                }
            });

        });
    </script>

    <script src="~/Scripts/perfect-scrollbar.min.js"></script>
    <script type="text/javascript">
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>