@model  Microsoft.Azure.CCME.Assessment.Hosts.Models.AssessmentWithUsageReportModel

@{
    ViewBag.Title = "Assessment with Usage Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-60 usage-report">
    <div>
        <h2 class="title-one">Assessment with Usage Report</h2>
    </div>

    <div>
        <form id="form">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-3"> @Html.LabelFor(model => model.SelectedTargetRegion, "Target Regions", new { @class = "label-title" })</div>
                <div class="col-md-9"> @Html.DropDownListFor(model => model.SelectedTargetRegion, Model.TargetRegionListItems, "-- Select Target Region --", new { id = "lstTargetRegions" })</div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.UsageReportFile, "Usage report", new { @class = "label-title" })
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.UsageReportFile, new { id = "usageReportFile", type = "file", name = "UsageReportFile", @class = "fileUpload inputfile" })
                    <label for="usageReportFile">
                        Click Here Choose a file
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-md-offset-3 right-align">
                    <button id="btnRun" type="submit" class=" btn-blue btnFixedSize">Run</button>
                </div>
            </div>

            <div>
                <span id="errorMessage" class="errorMessage" style="display: none">Error message here</span>
            </div>

        </form>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.inputfile').each(function () {
                var $input = $(this),
                    $label = $input.next('label'),
                    labelVal = $label.html();

                $input.on('change', function (e) {
                    $('#errorMessage').hide();
                    var fileName = '';

                    if (this.files && this.files.length > 1) {
                        fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                    } else if (e.target.value) {
                        if (this.files[0].size > 4194304) {
                            $('#errorMessage').text('The uploaded file size is not allowed to be greater than 4MB');
                            $('#errorMessage').show();
                            return;
                        }
                        fileName = e.target.value.split('\\').pop();
                    }

                    if (fileName)
                        $label.html(fileName);
                    else
                        $label.html(labelVal);
                });
            });
            $('#form').submit(function (e) {
                $('#errorMessage').hide();
                e.preventDefault();

                var targetRegion = $('#lstTargetRegions').val();
                var usageFile = $('#usageReportFile').val();

                if (!targetRegion || !usageFile) {
                    $('#errorMessage').text('Missing input');
                    $('#errorMessage').show();
                    return;
                }

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/AssessmentWithUsageReport/Run');
                xhr.responseType = 'blob';
                xhr.onload = function (e) {
                    $('.loading').hide();

                    if (this.status !== 200) {
                        $('#errorMessage').text(this.statusText);
                        $('#errorMessage').show();
                        return;
                    }

                    var filename = 'untitiled.pdf';
                    var disposition = xhr.getResponseHeader('content-disposition');
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) {
                        filename = matches[1].replace(/['"]/g, '');
                    }

                    if (navigator.msSaveOrOpenBlob) {
                        navigator.msSaveOrOpenBlob(this.response, filename);
                    } else {
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(this.response);
                        link.download = filename;

                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                };

                $('.loading').show();
                xhr.send(new FormData(this));
            });
        });
    </script>
}
